[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = ">=1.22,<1.24"
matplotlib = "*"
opencv-python = "*"
tqdm = "*"
pillow = ">=8.4.0"
yacs = ">=0.1.6"
scipy = "*"
ipython = "*"
jupyterlab = "*"
ipywidgets = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.7"
